
.nav{
    background-color: #222;
    color: white;
    font-size: 45px;
}

.nav .icon{
    margin-left: 0.5rem;
}

.nav .title{
    margin: auto;
    padding-right: 1.5rem;
}

.main{
    height: 90vh;
}

.left{
    height: 90vh;
}

.side-bar{
    margin-top:5vh;
    background-color: #222;
    height: 80vh;
    border-radius: 0.5rem;
}

/* right side */
.right{
    height: 90vh;
}

.header{
    background-color: #222;
    padding: 2vh 0;
    margin: 5vh 0;
    border-radius: 0.5rem;
    color: white;
}

.mid-content .col{
    background-color: #222;
    height: 20vh;
    margin: 5vh 0;
    border-radius: 0.5rem;
}

.footer-card{
    background-color: #222;
    height: 32vh;
    margin: 5vh 0;
    border-radius: 0.5rem;
}

